<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/style.css'>
    <title>create a test</title>
</head>
<body>
    <div class="container">
        <form action="/tests/create" method="POST">
            <input type="text" id="testnameInput" name="testname" placeholder="[name of test]" required>
            <input type="number" id="minscoreInput" name="minscore" placeholder="[minimum score]" min="0" required>
            <ul>
                <% var i=0; %>
                <% questions.forEach(question => { %>
                    <% i++; %>
                    <li>
                        <input type="checkbox" id="question<%=i%>" name="assignedQuestions" value="<%=question.question_id%>">
                        <label for="question<%=i%>"><%= question.question_text.substring(0,50)%><% if(question.question_text.length>50){%> ...<% }%></label>
                    </li>
                <% }); %>
            </ul>
            <div>
                <button type="submit">[create]</button>
            </div>
        </form>
    </div>
    <div class="topright">
        <button onclick='window.location.href ="/tests"'>[back]</button>
        permissions: <%= user.role %>
        <button onclick='window.location.href ="/logout"' id="logoutButton">[log out]</button>
    </div>
</body>
</html>