<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>tests</title>
</head>
<body>
    <div class="listDiv">
        <ul class="listAll">
            <li><button>[<%= test.test_name %>]</button></li>
            <li>created at: <%= test.creation_date.toLocaleDateString('hu-HU'); %></li>
            <li>created by: <%= creator.name %>(<%= creator.username %>)</li>
            <li>minimum score: <%= test.min_score %></li>
            <% var filled = false; var bestscore=0;%>
            <li>
                <% userSubmissions.forEach(submission => { %>
                    <% if(submission.test_id == test.test_id) { %> 
                        <% filled=true %>
                        <% if(submission.results > bestscore) {bestscore = submission.results} %>
                    <% } %>
                <% }) %>
                <%= (filled?"your results: ["+bestscore+"/"+test.min_score+"], "+(bestscore>=test.min_score?"passed":"failed"):"no results yet") %>
            </li>
            <li>
                your average score: <%= parseFloat(average_score.average_score).toFixed(2); %>
            </li>
            <li>
                your number of attempts: <%= attempts.submission_count; %>
            </li>
            <li>
                <button onclick='window.location.href ="/tests/fillout/<%= test.test_id %>"'>[fill out test]</button>
                <% if(user.role === "admin" || user.role === "teacher") { %>
                    <button onclick='window.location.href ="/tests/edit/<%= test.test_id %>"'>[edit test]</button>
                    <button onclick='window.location.href ="/tests/delete/<%= test.test_id %>"'>[delete test]</button>
                    <button onclick='window.location.href ="/tests/<%= test.test_id %>/submissions/"'>[view all submissions]</button>
                <% } %>
            </li>
        </ul>
        <ul class="submissionsList">
            <% if(filled) { %>
                <li>Your submissions:</li>
                <% userSubmissions.forEach(submission => { %>
                    <% if(submission.test_id === test.test_id) { %>
                        <li><%= submission.submission_time.toLocaleString('hu-HU',{timeZone: 'Europe/Budapest'}) %>, result: [<%= submission.results %>/<%= test.min_score %>]</li>
                    <% } %>
                <% }); %>
            <% } %>
        </ul>
    </div>
    <div class="topright">
        <button onclick='window.location.href ="/tests"'>[back]</button>
        <!-- <% if(user.role === "admin" || user.role === "teacher") { %>
                <button onclick='window.location.href ="/tests/create"'>[create test]</button>
        <% } %> -->
        permissions: <%= user.role %>
        <button onclick='window.location.href ="/logout"' id="logoutButton">[log out]</button>
    </div>
</body>
</html>